@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #c83737; */
    background-color: ;
}
/* HEADER */
header {
    position: absolute;
    width: 100%;
    height: 10vh;
    z-index: 2  ;
    background-color: transparent;
    color: #fff;
}
header .logo{
    position: absolute;
    height:10vh;
    width: fit-content;
    top: 0;
    margin-left:40px;
    display: inline-block;
}
header .title h1  {
    position: relative;
    padding-top: 18px;
    padding-left: 150px;
    color:#c83737;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
}

/* HOME */
#home {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    height: 80vh;
    width: 80vw;
    position: relative;
    box-shadow: 4px 4px #c83737;
    /* border: 2px solid black; */
    border-radius: 12px;
    background-color: #c83737;
    transition: all .1s ease-in-out ;
}
.card:hover {
    transform: scale(1.04);
    transition: .1s ease-in-out all;
}
.card::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    /* background-color: rgba(0,0,0,0.3); */
    border-radius:10px ;
} 
.bg-img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.bg-img img{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}
.container{
    height: 100%;
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container img {
    position:absolute;
    object-fit: cover;
    object-position: center;
    height:350px;
    opacity: 1;
    top: 20px;
}
.content {
    position: absolute;
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content h1 {
    color:#fff;
    font-size: 3em;
}
.content p {
    color:#fff;
    font-size: 1.2rem;
}
 