@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #c83737;
}
/* HEADER */
header {
    position: absolute;
    width: 100%;
    height: 10vh;
    z-index: 2  ;
    background-color: transparent;
    color: #fff;
}
header .logo{
    position: absolute;
    height:10vh;
    width: fit-content;
    top: 0;
    margin-left:40px;
    display: inline-block;
}
header .title h1  {
    position: relative;
    padding-top: 18px;
    padding-left: 150px;
    color:black;
    color:#c83737;
}

/* HOME */
#home {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-wave {
    position: absolute;
    transform: rotate(180deg);
    top: -5px;
    height: 20%;
    width: 100%;
    z-index: -1;
}
.main-wave img {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -10;
}
.card {
    height: 80vh;
    width: 80vw;
    position: relative;
    box-shadow: 4px 4px rgba(0,0,0,0.6);
    border: 2px solid black;
    border-radius: 12px;
}
.bg-img {
    height: 100%;
    width: 100%;
    position: absolute;
}
.bg-img img{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}
.container{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    background-color: #c83737;
}
.container:after{
   position: absolute;
   content: '';
   height: 100%;
   width: 100%;
   background-color: rgba(0,0,0,0.3);
   border-radius: 10px;
}
.container img {
    position:absolute;
    object-fit: cover;
    object-position: center;
    height:350px;
    margin: 0 auto;
    opacity: 1;
    top: 0;
    /* border-radius: 50%; */
}
.content {
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:20%;
}
.content h1 {
    color:#fff;
    font-size: 3em;
    text-shadow: 2px 2px #000;
}
.content p {
    color:#fff;
    font-size: 1.2rem;
}
 